<%= render 'shared/navigation' %>

<h1>Edit Listing</h1>
<%= render 'form' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<%= link_to 'Back', syrianotes_path, class: "btn-sm btn-info" %>
		</div>
	</div>
</div>