<div class="container">
  <div class="row">
  	<div id="navbar" class="col-xs-12">
			<form class="navbar-form navbar-right" role="search">
  		<div class="form-group">
    	<input type="text" class="form-control" placeholder="Search">
  		</div>
  		<button type="submit" class="btn-sm btn-primary">Submit</button>
		</form>
	</div>
</div>