<div class="container">
	<div class="container">
		<div class="jumbotron">
			<h1>Middle East Fact Sheets</h1>
			<p><em>A Repository for Information on the Contemporary Middle East</em></p>
			<%= link_to 'Syria FactSheet', syrianotes_path, class: "btn btn-primary" %>
			<%= link_to 'Iraq FactSheet', iraqnotes_path, class: "btn btn-danger" %>
		</div><!-- /jumbotron -->
	</div><!-- /container -->
</div><!-- /container -->
<div class="spacer">

