<div class="container-fluid">
	<div class="jumbotron">
		<h1>Middle East Notes</h1>
		<p><em>A Repository for Information on the Contemporary Middle East</em></p>
			<%= link_to 'Syria Notes', syrianotes_path, class: "btn btn-default" %>
			<%= link_to 'Iraq Notes', iraqnotes_path, class: "btn btn-default" %>
	</div><!-- /jumbotron -->
</div><!-- /container -->
<div class="spacer">

