<div class="container-fluid">
	<div class="jumbotron">
    <h1>Middle East Notes</h1>
		<p><em>A Repository for Information on the Contemporary Middle East</em></p>
  </div>
	<div class="container">
		<%= link_to 'Syria Notes', syrianotes_path, class: "btn btn-primary" %>
		<%#= link_to 'Iraq Notes', iraqnotes_path, class: "btn btn-primary" %>
	</div>
	<div class="spacer">
  	<div class="container">
  	<!-- Example row of columns -->
  	<div class="row">
    	<div class="col-md-12">
      	<h2></h2>
        	<p>Middle East Notes is a repository of information and short commentaries on issues pertaining to the contemporary Middle East with a focus on highlighting propaganda</p>
    		</div>
  	</div>
	</div>
</div>